* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/light-texture-isolated-orange-red-flame-1062195-pxhere.com.jpg);
    background-repeat: repeat;
    overflow-x: hidden;
}

.head {
    position: fixed;
    display: flex;
    background-color: rgb(241, 165, 124);
    width: 100vw;
    padding: 5px 0;
    align-items: center;
    z-index: 99999;
}

.logo {
    display: inline-block;
    margin-left: 14%;
}

nav {
    display: inline-block;
    margin-left: 10%;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    font-weight: 500;
    color: #231f20;
    font-size: 20px;
    display: inline-block;
    transition: all 0.2s ease;
    margin: 0 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: aliceblue;
}

.contact {
    margin-left: 10%;
}

.link_contact {
    font-weight: 500;
    color: #231f20;
    font-size: 30px;
    transition: all 0.2s ease;
    text-decoration: none;
    font-family: 'Smooch', cursive;
}

.items_contact {
    position: absolute;
    background-color: rgb(241, 165, 124);
    text-align: center;
    margin-left: -3%;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    padding: 24px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: translateY(15px);
}

.items_contact a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #231f20;
    font-size: 20px;
    margin: 5px 0;
    transition: all 0.3s;
}

.contact:hover .items_contact {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.items_contact a:hover {
    color: aliceblue;
}

.body {
    text-align: center;
    width: 100vw;
}

.pano:hover {
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

.pano {
    display: inline;
    position: relative;
    cursor: pointer;
}

.task {
    margin-top: 30px;
}

.task a {
    text-decoration: none;
    font-weight: 500;
    color: #231f20;
    font-size: 20px;
    margin: 0 30px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: rgb(241, 165, 124);
}

.break {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.break img {
    width: 1200px;
    cursor: pointer;
}

.break:hover {
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

@keyframes myfirst {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: 10px;
    }
    50% {
        left: 0px;
        top: -10px;
    }
    75% {
        left: 0px;
        top: 10px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.p1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.p1 .p1l {
    width: 30%;
    margin: 0 40px;
}

.p1 .p1r {
    width: 30%;
    margin: 0 40px;
}

.p1 .p1last {
    width: 64%;
    margin: 30px 30px;
}

.p1 div p {
    text-align: left;
    color: #ece4e6;
    font-size: 20px;
    width: 100%;
}

.p2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.p2 .p2l {
    width: 40%;
}

.p2 .p2r {
    width: 30%;
}

.p2l img {
    position: relative;
    width: 650px;
    margin-left: -100px;
    cursor: pointer;
}

.p2l:hover img {
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

.p2r p {
    text-align: left;
    color: #ece4e6;
    font-size: 20px;
}

.jd {
    background-color: rgb(241, 165, 124);
    text-align: left;
    margin: 0 25%;
    padding: 50px;
    border-radius: 30px;
}

.jd h1,
p {
    color: #676464;
    font-size: 20px;
}

.breakimg {
    text-align: center;
    margin: 50px 0;
    position: relative;
    cursor: pointer;
}

.breakimg:hover {
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

.breakimg img {
    width: 1200px;
}

.t1 {
    text-align: left;
    margin: 0 30%;
}

.t1 p {
    color: #41e6d0;
    font-size: 27px;
}

span {
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 23px;
    background-color: rgb(241, 165, 124);
}

.infoTeam {
    width: 50%;
    text-align: right;
}

.infoTeam img {
    width: 1200px;
}

.Team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: -20%;
}

.Team .imgTeam {
    width: 50%;
}

.Team .scripTeam {
    width: 23%;
}

.imgTeam img {
    width: 800px;
    position: relative;
    cursor: pointer;
}

.imgTeam img:hover {
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

.scripTeam p {
    text-align: left;
    color: #ece4e6;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.p2r {
    text-align: left;
}

.p2r a {
    width: fit-content;
    display: block;
    padding: 8px 25px;
    margin: 20px 0;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(241, 165, 124);
    transition: all 0.3s;
}

.p2r a:hover {
    color: #333;
    scale: 1.1;
}

.bar {
    height: fit-content;
    display: none;
}

.bar i {
    color: #eb5f2a;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    a {
        font-size: 12px !important;
    }
    p {
        font-size: 12px !important;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    body {
        width: 100vw;
    }
    .head {
        justify-content: space-around;
    }
    nav {
        display: none;
    }
    .contact {
        display: none;
    }
    .logo {
        margin-left: 0;
    }
    .bar {
        display: block;
        margin-left: 50%;
    }
    .banner img {
        margin-top: 15%;
        width: 100vw;
    }
    .pano img {
        width: 100vw;
    }
    .task {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .task a {
        padding: 10px 40px;
        margin: 20px;
    }
    .break img {
        width: 400px;
    }
    .p1 div {
        width: 100% !important;
    }
    .p1 .p1l {
        margin: 10px 40px;
    }
    .p1 .p1r {
        margin: 10px 40px;
    }
    .p1 .p1last {
        margin: 10px 40px;
    }
    .p1 div p {
        text-align: left;
        color: #ece4e6;
        font-size: 20px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .p2 .p2l {
        width: 100%;
    }
    .p2 .p2r {
        width: 100%;
        margin: 40px
    }
    .p2l img {
        position: relative;
        width: 450px;
        margin-left: -100px;
        cursor: pointer;
    }
    .p2 .p2r a {
        text-align: center;
    }
    .jd {
        margin: 5%;
        padding: 25px !important;
        border-radius: 40px;
    }
    .jd h1,
    p {
        color: #a06464;
        font-size: 12px;
    }
    .breakimg {
        margin: 40px 0;
    }
    .breakimg img {
        width: 450px;
    }
    .t1 {
        margin: 0 15%;
    }
    #fake {}
    span {
        border-radius: 10px;
        font-size: 14px;
        background-color: rgb(241, 165, 124);
    }
    #cocau img {
        width: 400px;
    }
    .infoTeam {
        width: 100%;
    }
    .infoTeam img {
        width: 400px;
    }
    .Team {
        margin-top: 100px;
    }
    .Team .imgTeam {
        width: 30%;
        padding-right: 200px;
    }
    .Team .scripTeam {
        width: 38%;
        margin-right: -6%;
    }
    .imgTeam img {
        width: 150px;
        position: relative;
        cursor: pointer;
    }
}